*{font-size: 13px;}
.home-section{
   min-height: 95vh;
   }

.home-section{
   min-height: 95vh;
   }
#viewdetails {
 border-collapse: collapse;
 width: 100%;

}

#viewdetails td, #viewdetails th {
 border: 1px solid #ddd;
 padding: 8px;
}

#viewdetails tr:nth-child(even){background-color: #f2f2f2;}

#viewdetails tr:hover {background-color: #ddd;}

#viewdetails th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #D6EACA;
 color: black;
}
.btnmargin{margin-bottom: 5px;}