@media print{
    /* We nee need to hide some part of body element*/
        * {
         margin: 0;
         padding: 0;
        }

        div.generatebtn, div.instruc{
            visibility: hidden;
        }

        div.main-content-email{
            visibility: hidden;
        }
        
        div.barangay_permit{
            display: absolute;
            margin-left: 50px;
            
        }

    }
    

    