 @media print{
		/* We nee need to hide some part of body element*/
			* {
			 margin: 0;
			 padding: 0;
			}

		
			.sidebar, .reg_table, .footer, .top-section, .search_content, button.documentbtn, .document-button, .permitbtn, div.id_dashed, button.document-light-grey, .home-section, legend.legend_brgyID, legend.indigency, div.instruc{
				visibility: hidden;
			}
			
			.print_businesspermit, .print_businesspermit, .barangayid_print{
				visibility: visible;
			}
			
			.barangay_indigency *{visibility: visible;}

			.print_businesspermit, .barangayid_print {
				position: absolute;
				top: 20;
				left: 0;
			}
			
			#indigency_file{
				position: fixed;
				top: -30px;
				left: 5px;
				right: 5px;
			}

		}
		

		