/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Poppins" , sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]{
	-moz-appearance: textfield;
}
.midpos{display: flex; justify-content: center; align-items: center; margin-top: 7%}
.gen, .g-recaptcha{display: flex; justify-content: center; align-items: center;}
main{min-height: 100vh; background: #000513; display: flex; justify-content: center; align-items: center; box-shadow:  0 3px 10px rgba(0 0 0/ 0.2); }
.detailid{font-size: 13px;  color: gray; font-weight: 600;}       

.main-content{background: white; min-height: 50vh; width: 45%; border-radius: 20px;}
.comlogo{width: 110px; height: 110px; user-select: none;}
.composition{display: absolute; float: right; margin-top: -40px;}
.margin{display: block; margin-right: 5px; margin-bottom: 15px;}

.button {
  display: absolute;
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  }

  .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }

  .button span:after {
  content: '\2714';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }

  .button:hover span {
  padding-right: 25px;
  }

  .button:hover span:after {
  opacity: 1;
  right: 0;
  }
  .PaymentMethodImage{width: 200px; height: 200px}
  .reminder{background: #FCF8F2; padding: 5px 5px 5px 5px;}
  .reminder-heading{color: #EEA236}
  .blockqoute-color{border-left-color: #EEA236;}
  .inpmargin{width: 100%; padding: 10px;}
  .usersel{pointer-events: none; border: 1px solid orange}
  .merchantname, .sub_headmerchant{color: white; font-size: 25px; margin-left: 45px;}
  .sub_headmerchant{font-size: 35px;}
