/* 9.0 -- Resident Default Page -- */
.documentbtn{font-size: 15px;width: 250px; height: 100px; padding: 40px 40px 40px 40px; margin-bottom: 25px}
.documentbtn:hover{background-color: gray;color: white;}
.document_section{margin-top: 105px;margin-left: 35px; margin-right: 35px;}

.previewbtn{width: 350px; height: 90px; margin: 25px; width: calc(100% - 125px); transition: all 0.5s ease; } 
.document-section{margin-top:16px!important;margin-bottom:16px!important}
.document-light-grey,.document-hover-light-grey:hover{border-top-right-radius: 20px;border-top-left-radius: 20px; border-bottom-right-radius: 20px;border-bottom-left-radius: 20px; color:#000!important;background-color:#f1f1f1!important}

.document-button:hover{color:#000!important;background-color:#ccc!important; width:100%;}
.document-block{display:block;width:100%}
.document-hide{display:none!important}
.document-show{display:block!important}
 p.content{width: 450px; height: 300px;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}